<form class="newsletter" action="https://mail.jgthms.com/subscribe" method="POST" accept-charset="utf-8" target="_blank">
  <div class="field">
    <h3>Subscribe to my newsletter</h3>
    <p>And get notified when I launch other<br><strong>free tutorials</strong>! 😃</p>
  </div>
  <div class="newsletter-content">
    <div class="field">
      <p class="label" for="name">Name</p>
      <div class="control">
        <input class="input" type="text" name="name" id="name" placeholder="e.g. Alex Smith">
      </div>
    </div>
    <div class="field">
      <p class="label" for="email">Email</p>
      <div class="control">
        <input class="input" type="email" name="email" id="email" placeholder="e.g. alexsmith@gmail.com" required>
      </div>
    </div>
    <div style="display:none;">
      <label for="hp">HP</label>
      <input type="text" name="hp" id="hp">
    </div>
    <input type="hidden" name="list" value="bbkZEpnfTh892DlmV8k763es8Q">
    <div class="field">
      <div class="control">
        <button class="button" id="submit">Subscribe</button>
      </div>
    </div>
    <p class="help"><em>No spam of course!</em> <span style="font-size: 1rem; vertical-align: middle;">😊</span></p>
  </div>
</form>